services:
  config-server:
    build: ./configserver
    image: enseniamelo-configserver:latest
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - ENCRYPT_KEY=${CONFIG_SERVER_ENCRYPT_KEY}
      - SPRING_SECURITY_USER_NAME=${CONFIG_SERVER_USR}
      - SPRING_SECURITY_USER_PASSWORD=${CONFIG_SERVER_PWD}
    ports:
      - "8888:8888"
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -f -u ${CONFIG_SERVER_USR}:${CONFIG_SERVER_PWD} http://localhost:8888/actuator/health",
        ]
      interval: 15s
      timeout: 5s
      retries: 10
    networks:
      - microservices-net
  eureka-server:
    build: ./eureka-server
    image: eureka-server:latest
    ports:
      - "8761:8761"
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - CONFIG_SERVER_USR=${CONFIG_SERVER_USR}
      - CONFIG_SERVER_PWD=${CONFIG_SERVER_PWD}
    depends_on:
      config-server:
        condition: service_healthy
    networks:
      - microservices-net

  mensajes:
    build: ./mensajes-service
    image: mensajes-service:latest
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_DATA_MONGODB_URI=mongodb+srv://jaredpimentel_db_user:DpCito170209@cluster0.cibyezm.mongodb.net/enseniamelo?retryWrites=true&w=majority
      - SPRING_DATA_MONGODB_DATABASE=enseniamelo
      - SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:9090/realms/enseniamelo
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - SPRING_APPLICATION_NAME=mensajes-service
      - EUREKA_INSTANCE_HOSTNAME=mensajes-service
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - CONFIG_SERVER_USR=${CONFIG_SERVER_USR}
      - CONFIG_SERVER_PWD=${CONFIG_SERVER_PWD}
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
    depends_on:
      eureka-server:
        condition: service_healthy
    networks:
      - microservices-net
    healthcheck:
      test:
        ["CMD-SHELL", "curl -f http://localhost:8082/actuator/health || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 10
    restart: on-failure

  gateway:
    build: ./gateway
    image: enseniamelo-gateway-service:latest
    mem_limit: 512m
    ports:
      - "8443:8443"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - SPRING_CLOUD_CONFIG_URI=http://config-server:8888
      - CONFIG_SERVER_USR=${CONFIG_SERVER_USR}
      - CONFIG_SERVER_PWD=${CONFIG_SERVER_PWD}
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - EUREKA_INSTANCE_HOSTNAME=gateway-service
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - EUREKA_INSTANCE_SECURE_PORT_ENABLED=true
      - EUREKA_INSTANCE_SECURE_PORT=8443
      - EUREKA_INSTANCE_NON_SECURE_PORT_ENABLED=false
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_healthy
    networks:
      - microservices-net
    restart: on-failure

networks:
  microservices-net:
    external: true
