version: "3.8"

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-logs:/var/lib/zookeeper/log
    networks:
      - microservices-net
    healthcheck:
      test: nc -z localhost 2181 || exit 1
      interval: 10s
      timeout: 5s
      retries: 5

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - microservices-net
    healthcheck:
      test: curl -f http://localhost:8761/actuator/health || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
    restart: on-failure

  mensajes:
    build: ./mensajes-service
    container_name: mensajes-service
    ports:
      - "8082:8082"
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb+srv://dominicescalante22_db_user:dominic123@cluster0.cibyezm.mongodb.net/
      - SPRING_DATA_MONGODB_DATABASE=enseniamelo
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - SPRING_APPLICATION_NAME=mensajes-service
      - EUREKA_INSTANCE_HOSTNAME=mensajes-service
    depends_on:
      eureka-server:
        condition: service_healthy
    networks:
      - microservices-net
    healthcheck:
      test: curl -f http://localhost:8082/actuator/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
    restart: on-failure

  gateway:
    build: ./gateway
    container_name: gateway-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_APPLICATION_NAME=gateway-service
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
      - EUREKA_INSTANCE_HOSTNAME=gateway-service
      - EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
      - SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED=true
      - SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_LOWER_CASE_SERVICE_ID=true
    depends_on:
      eureka-server:
        condition: service_healthy
      mensajes:
        condition: service_healthy
    networks:
      - microservices-net
    healthcheck:
      test: curl -f http://localhost:8080/actuator/health || exit 1
      interval: 15s
      timeout: 5s
      retries: 5
    restart: on-failure

networks:
  microservices-net:
    driver: bridge

volumes:
  zookeeper-data:
  zookeeper-logs:
  kafka-data:
  rabbitmq-data:
