spring.config.import: "configserver:"

spring:
  application:
    name: eureka-server
  cloud:
    config:
      fail-fast: true
      retry:
        initial-interval: 3000
        multiplier: 1.3
        max-interval: 10000
        max-attempts: 20
      uri: http://localhost:8888
      username: ${CONFIG_SERVER_USR:config-usr}
      password: ${CONFIG_SERVER_PWD:Enseniamelo2025}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    wait-time-in-ms-when-sync-empty: 0
    enable-self-preservation: false
    renewal-percent-threshold: 0.85

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

---
spring:
  config:
    activate:
      on-profile: docker
  cloud:
    config:
      uri: http://config-server:8888
