server:
  port: 8761

spring:
  config:
    import: 
    - "optional:configserver:http://config-server:8888"
  application:
    name: eureka-server
  cloud:
    config:
      fail-fast: false
      retry:
        initialInterval: 3000
        multiplier: 1.3
        maxInterval: 10000
        maxAttempts: 20
    uri: http://config-server:8888
    username: ${CONFIG_SERVER_USR:config-usr}
    password: ${CONFIG_SERVER_PWD:Enseniamelo2025}

---

spring:
  config:
    activate:
      on-profile: docker
  cloud:
    config:
      uri: http://config-server:8888
